.header {
  color: #ffffff;
  padding: 15px;
  font-size: 19px;
  background: -webkit-linear-gradient(to right, #56CCF2 ,#2F80ED);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56CCF2, #2F80ED); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
  margin-top: 10px;
  padding: 15px;
  background: rgba(255,255,255, .5);
  color: #414141;
}

.lessons {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.lessonsItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 9px 12px;
  margin-bottom: 5px;
}

.lessonsItem > *:first-child {
  flex: 1;
}

.lessonsItem:hover .editLessonBtn,
.lessonsItem:hover .deleteLessonBtn {
  opacity: 1;
}

.editLessonBtn, .deleteLessonBtn {
  background: none;
  border: none;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {

}