.wrapper {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  color: #ffffff;
}

.submitBtn,
.newCourseBtn {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin: 5px 0;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ffffff;
  border: none;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.newCourseBtn {
  margin: 5px none;
  align-self: flex-end;
  width: fit-content;
  background: -webkit-linear-gradient(to right, #56CCF2 ,#2F80ED);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56CCF2, #2F80ED); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.coursesList {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding: 15px 0 0 5px;
}

.courseItem {
  margin-bottom: 10px;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255,255, .1);
  transition: all 0.25s;
  border: 2px;
}

.courseItem:hover {
  background: rgba(255, 255,255, .25);
  cursor: pointer;
}

.courseListWrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.modal {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 500px;
}
